@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #000000;
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;


    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 90%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 0 1% 10%;

    --accent: 0 0% 95%;
    --accent-foreground: 0 1% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 0%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig"1, "calt"1;
  }

  .subtitle-2 {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
  }

  .subtitle-3 {
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
  }

  .body-2, .body-3 {
    font-size: .75rem;
    line-height: 1rem;
  }

  .material-symbols-outlined.text-lg {
    height: 1.125rem;
    line-height: 1.125rem;
    width: 1.125rem;
  }

  [data-radix-scroll-area-viewport] {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }

  [data-radix-scroll-area-viewport]::-webkit-scrollbar {
    display: none
  }

  @media screen and (max-width: 640px) {
    /* to fix iphone zoom issue */
    form input,
    form textarea {
      @apply text-base;
    }
  }
}